<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div style="width=100px;height:300px;background-color:#33B2FF;margin-left:15%;margin-right:15%;margin-top:5%; padding-left:300px;padding-top:100px;">
    <form action="login" method="post">
        {% csrf_token %}<br>
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit">
    </form>
    {% for msg in messages %}
    <h3 style="color:red;"><em>{{msg}}</em></h3>
    {% endfor %}
</div>
</body>
</html>